node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
.antigravity/
.lancedb/
.kilo/
IINSTRUCTIONS.md
.kilocodeignore
.codanna/
.fastembed_cache
.codannaignore
.antigravitycli
instructDeploy.md
ai-bookmark-manager-*.zip
CHROMEWEBSTORE.md
